:root {
  --darkBlue: #495867;
  --lightBlue: #bdd5ea;
  --orangeRed: #fe5f55;
  --ghostWhite: #f7f7ff;
}

body {
  font-family: "Montserrat", serif;
  background-color: var(--ghostWhite);
}

/* Header */

.Header {
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: var(--darkBlue);
  text-align: center;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 2em;
  color: var(--ghostWhite);
  padding-bottom: 5px;
}

.Header > p {
  font-size: 0.8em;
  color: var(--ghostWhite);
}

/* Navbar */

.navbar {
  justify-content: right;
  margin-right: 10px !important;
  background-color: var(--ghostWhite) !important;
}

.navbar-nav {
  margin-left: 20px !important;
}

.navbar-nav > a {
  text-decoration: none;
  color: var(--darkBlue);
  font-size: 0.9em;
  line-height: 1.9;
}

.navbar-nav > a:hover {
  font-weight: 900;
}

.navbar-toggler {
  color: var(--orangeRed) !important;
}

/* Homepage */

.LatestNews {
  margin: 20px auto;
  text-align: center;
}

.LatestNews_span-red,
.LatestNews_span-blue {
  font-size: 0.6em;
  font-style: italic;
  font-weight: 800;
  padding: 3px 10px;
}

.LatestNews_span-red {
  background-color: var(--orangeRed);
  border: 3px solid var(--orangeRed);
  color: var(--ghostWhite);
  margin-right: 0;
}

.LatestNews_span-blue {
  margin-left: 0;
  background-color: var(--darkBlue);
  border: 3px solid var(--darkBlue);
  color: var(--ghostWhite);
}

.Carousel {
  cursor: pointer;
}

.Carousel-error {
  cursor: auto;
}

.LatestNews_img {
  margin: 5px;
  width: 93vw;
  height: 120px;
}

.LatestNews_caption {
  padding-top: 10px;
  padding-bottom: 0;
}

.LatestNews_caption h3 {
  font-family: "Playfair Display", serif;
  font-size: 1em;
}

.LatestNews_caption p {
  font-size: 0.7em;
  margin-bottom: 10px;
}

.carousel-indicators {
  margin-bottom: 5px;
}

.TopicsGallery > h3 {
  margin: 0 5px 10px 5px;
  font-family: "Playfair Display", serif;
  font-size: 0.9em;
  font-weight: 800;
  color: #495867;
  background-color: var(--lightBlue);
  padding: 5px;
}

.TopicsGallery > ul {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.TopicsGallery_container {
  position: relative;
  margin: 5px 0 10px 0;
  cursor: pointer;
}

.TopicsGallery_container > img {
  width: 80vw;
  height: 135px;
  border-radius: 10px;
}

.TopicsGallery_container > h3 {
  font-weight: 500;
  padding: 5px 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  background-color: var(--ghostWhite);
  opacity: 0.85;
}

.TopicsGallery-error {
  padding: 0 20px 0 20px;
  margin-top: 40px;
  color: #495867;
  text-align: center;
}

/* Login Page and 404 Page Not Found */

.Login,
.PageNotFound {
  margin-top: 50px;
  padding: 20px 50px;
  text-align: center;
}

.Login > h4,
.PageNotFound > h4 {
  font-size: 1.4em;
}

.Login > h5,
.PageNotFound > h5 {
  margin-top: 20px;
  font-size: 1.2em;
}

.Login > button,
.PageNotFound > button {
  margin-top: 20px;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  background-color: var(--orangeRed);
  color: var(--ghostWhite);
  font-size: 1.1em;
}

.PageNotFound button > * {
  color: var(--ghostWhite);
  text-decoration: none;
}

/* Articles Page plus styling for icons */

.nav-item {
  margin-top: 15px;
  border-top: 1px solid rgb(159, 158, 158);
  border-right: 1px solid rgb(159, 158, 158);
}
.nav-link {
  text-transform: capitalize;
  padding: 4px 8px;
  font-size: 0.7em;
  color: var(--darkBlue);
}

.nav-link.active {
  background-color: var(--lightBlue) !important;
}

.Sort {
  margin-top: 25px;
  margin-left: 15px;
}

.Sort_dropdown {
  font-size: 0.9em;
  width: 175px;
  background-color: var(--ghostWhite);
  border-radius: 5px;
}

.ArticlesList {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 15px auto;
  list-style-type: none;
}

.Card {
  margin: 15px 0;
  border: 1px solid var(--darkBlue);
  width: 80%;
  text-align: center;
  cursor: pointer;
}

.Card_body {
  padding: 0;
}

.Card_img {
  height: 100px;
}

.Card_overlay {
  display: flex;
  justify-content: center;
}

.Card_title {
  font-family: "Playfair Display", serif;
  font-size: 1.1em;
  color: var(--ghostWhite);
}

.Card_topic {
  text-align: left;
  padding: 2px 5px;
  font-weight: 500;
  background-color: var(--lightBlue);
}

.Card_title,
.Card_topic {
  text-transform: capitalize;
}

.Card_topic-cooking {
  background-color: #d88c9a;
}

.Card_topic-coding {
  background-color: #99c1b9;
}

.Card_topic-football {
  background-color: #f2d0a9;
}

.Card_intro,
.Card_metadata,
.Card_interactions {
  margin-left: 10px;
  text-align: left;
  font-size: 0.8em;
}

.Card_metadata-icon,
.Card_date-icon,
.Card_interactions-icon,
.ArticleDate_icon,
.ArticleAuthor_icon,
.ArticleComments_icon,
.CommentAuthor_icon,
.CommentDate_icon {
  color: var(--darkBlue);
}

.Card_metadata-date,
.Card_interactions-starCount {
  float: right;
  margin-right: 10px;
}

.Card_interactions {
  margin-left: 20px;
  margin-right: 20px;
}

.Card_interactions-starIcon,
.ArticleStars_icon {
  color: #e9c46a;
}

.Card_button {
  background-color: var(--orangeRed);
  border: none;
  border-radius: 30px;
  margin-bottom: 16px;
  font-size: 0.75em;
  font-weight: 600;
}

.Card_button:hover {
  color: var(--darkBlue);
  background-color: var(--lightBlue);
}

.Pages {
  justify-content: center;
}

.page-item .page-link {
  color: var(--darkBlue);
}

.page-item.active .page-link {
  background-color: var(--lightBlue);
  border-color: var(--lightBlue);
  color: var(--darkBlue);
}

/* Single Article Page */

.SingleArticle {
  padding: 25px 20px;
  color: var(--darkBlue);
}

.SingleArticle > h2 {
  font-family: "Playfair Display", serif;
}

.SingleArticle > h2,
.SingleArticle > h6 {
  text-transform: capitalize;
}

.ArticleTopic {
  margin-top: 10px;
  padding: 5px;
  background-color: var(--lightBlue);
}

.ArticleTopic-cooking {
  background-color: #d88c9a;
}

.ArticleTopic-coding {
  background-color: #99c1b9;
}

.ArticleTopic-football {
  background-color: #f2d0a9;
}

.ArticleDate,
.ArticleAuthor {
  font-size: 0.85em;
}

.ArticleDate {
  margin-top: 20px;
}

.ArticleAuthor {
  margin-bottom: 15px;
}

.ArticleBody {
  font-size: 0.95em;
  line-height: 1.65;
}

.SingleArticle-error {
  padding: 0 20px 0 20px;
  margin-top: 40px;
  color: var(--darkBlue);
  text-align: center;
}

/* Single Article Page - Votes Section */

.SingleArticle_columns-leftBottom {
  margin: 5px;
  display: inline-flex;
  width: 60%;
  justify-content: space-between;
}

.SingleArticle_columns-leftBottom > p {
  margin-top: 5px;
}

.StarLoginButton {
  height: 30px;
  padding: 0 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--orangeRed);
  color: var(--ghostWhite);
  font-size: 0.8em;
}

.StarButton {
  margin-right: 80px;
  height: 10px;
  padding: 0 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--ghostWhite);
  color: var(--orangeRed);
  font-size: 1.2em;
}

.StarThumb {
  display: none;
}

.active {
  display: inline;
}

/* Single Article Page - Comments Section */

.SingleArticle_columns-rightBottom {
  margin-top: 15px;
}

.CommentList p,
.CommentList-error p {
  color: var(--darkBlue);
}

.CommentList_header p,
.CommentList_header-error p {
  margin-bottom: 0;
}

.CommentList_metadata {
  font-size: 0.8em;
  margin-bottom: 20px;
}

.CommentList_body {
  font-size: 0.9em;
  font-style: italic;
}

.accordion-body {
  margin-top: 8px;
  padding-bottom: 10px;
}

hr {
  color: var(--lightBlue);
  background-color: var(--darkBlue);
  height: 2px !important;
  margin-top: 20px;
  margin-bottom: 0;
}

/* Media Queries  */

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3em;
  }

  .Header > p {
    font-size: 1.1em;
  }

  .navbar {
    padding: 5px 10px;
    background-color: var(--orangeRed) !important;
    width: 100%;
  }

  .navbar-nav {
    margin-left: 50px;
    margin-right: 50px !important;
    height: 30px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .Nav_links > * {
    color: var(--ghostWhite) !important;
    font-size: 0.9em !important;
    text-decoration: none;
    font-weight: 600;
    padding: 0 10px;
    border-radius: 30px;
  }

  .Nav_links > *:hover {
    color: var(--darkBlue) !important;
    background-color: var(--ghostWhite);
    font-weight: 600;
  }

  /* Homepage Media Queries */

  .LatestNews {
    margin: 30px auto;
    text-align: center;
  }

  .LatestNews_span-red,
  .LatestNews_span-blue {
    font-size: 0.8em;
  }

  .LatestNews_img {
    width: 90vw;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .LatestNews_caption h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
  }

  .LatestNews_caption p {
    font-size: 0.9em;
    margin-bottom: 15px;
  }

  .TopicsGallery > h3 {
    margin: 0px 30px 20px 30px;
    font-size: 1.3em;
    font-weight: 600;
  }

  .TopicsGallery_container > img {
    width: 30vw;
    height: 250px;
    border-radius: 10px;
  }

  .TopicsGallery > ul {
    justify-content: space-around;
  }

  .TopicsGallery-error {
    margin-top: 60px;
  }

  /* Login Page */

  .Login,
  .PageNotFound {
    margin-top: 100px;
  }

  /* Articles Page Media Queries plus styling for icons */

  .ArticlesList {
    justify-content: space-around;
  }

  .nav-item {
    margin-top: 15px;
  }
  .nav-link {
    padding: 8px 16px;
    font-size: 1em;
  }

  .Sort {
    margin-top: 35px;
    margin-left: 40px;
  }

  .Sort_dropdown {
    font-size: 1em;
    width: 300px;
  }

  .Card {
    width: 28%;
  }

  .Card_img {
    height: 125px;
  }

  .Card_overlay {
    top: 5%;
  }

  .Card_title {
    font-size: 1.2em;
  }

  .Card_topic {
    padding: 2px 10px;
  }

  .Card_intro,
  .Card_metadata,
  .Card_interactions {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.9em;
  }

  .Card_interactions {
    margin-left: 40px;
    margin-right: 40px;
  }

  .Card_button {
    font-size: 0.8em;
  }

  /* Single Article Page Media Queries */

  .SingleArticle {
    display: grid;
    grid-template-rows: 50px auto;
    padding: 40px 100px;
  }

  .SingleArticle_columns {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas:
      "metadata body"
      "votes body"
      "votes comments";
  }

  .SingleArticle_columns-left {
    grid-area: metadata;
    padding-top: 10px;
  }

  .SingleArticle_columns-leftBottom {
    grid-area: votes;
    padding-top: 20px;
  }

  .SingleArticle_columns-right {
    grid-area: body;
    padding-top: 20px;
  }

  .SingleArticle_columns-rightBottom {
    grid-area: comments;
  }

  .ArticleBody {
    line-height: 1.8;
  }

  .SingleArticle-error {
    margin-top: 60px;
  }

  /* Single Article Page - Votes Section */

  .SingleArticle_columns-leftBottom {
    width: 70%;
  }

  .SingleArticle_columns-leftBottom > p {
    margin-top: 3px;
  }

  .StarLoginButton {
    font-size: 0.9em;
  }

  .StarButton {
    margin-right: 75px;
    font-size: 1.2em;
  }

  .StarThumb {
    display: none;
  }

  .active {
    display: inline;
  }
}
