body {
  font-family: "Montserrat", serif;
  background-color: #f7f7ff;
}

/* Header */

.Header {
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #495867;
  text-align: center;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 2em;
  color: #f7f7ff;
  padding-bottom: 5px;
}

.Header > p {
  font-size: 0.8em;
  color: #f7f7ff;
}

/* Navbar */

.Nav {
  padding: 5px 10px;
  background-color: #fe5f55;
  width: 100%;
}

.Nav_links {
  display: flex;
  justify-content: space-evenly;
}

.Nav_links > * {
  color: #f7f7ff;
  text-decoration: none;
  font-weight: 600;
  padding: 0 10px;
  border-radius: 30px;
}

.Nav_links > *:hover {
  color: #495867;

  background-color: #f7f7ff;
  font-weight: 600;
}

/* Homepage */

.LatestNews {
  margin: 20px auto;
  text-align: center;
}

.LatestNews_span-red,
.LatestNews_span-blue {
  font-size: 0.6em;
  font-style: italic;
  font-weight: 800;
  padding: 3px 10px;
}

.LatestNews_span-red {
  background-color: #fe5f55;
  border: 3px solid #fe5f55;
  color: #f7f7ff;
  margin-right: 0;
}

.LatestNews_span-blue {
  margin-left: 0;
  background-color: #495867;
  border: 3px solid #495867;
  color: #f7f7ff;
}

.Carousel {
  cursor: pointer;
}

.Carousel-error {
  cursor: auto;
}

.LatestNews_img {
  margin: 5px;
  width: 93vw;
  height: 120px;
}

.LatestNews_caption {
  padding-top: 10px;
  padding-bottom: 0;
}

.LatestNews_caption h3 {
  font-family: "Playfair Display", serif;
  font-size: 1em;
}

.LatestNews_caption p {
  font-size: 0.7em;
  margin-bottom: 10px;
}

.carousel-indicators {
  margin-bottom: 5px;
}

.TopicsGallery > h3 {
  margin: 0 5px 10px 5px;
  font-family: "Playfair Display", serif;
  font-size: 0.9em;
  font-weight: 800;
  color: #495867;
  background-color: #bdd5ea;
  padding: 5px;
}

.TopicsGallery > ul {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.TopicsGallery_container {
  position: relative;
  margin: 5px 0 10px 0;
  cursor: pointer;
}

.TopicsGallery_container > img {
  width: 80vw;
  height: 135px;
  border-radius: 10px;
}

.TopicsGallery_container > h3 {
  font-weight: 500;
  padding: 5px 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  background-color: #f7f7ff;
  opacity: 0.85;
}

/* Articles Page */

.Sort {
  margin-top: 25px;
  margin-left: 35px;
}

.Sort_dropdown {
  font-size: 0.9em;
  width: 175px;
  background-color: #f7f7ff;
  border-radius: 5px;
}

.ArticlesList {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 15px auto;
  list-style-type: none;
}

.Card {
  margin: 15px 0;
  border: 1px solid #495867;
  width: 80%;
  text-align: center;
  cursor: pointer;
}

.Card_body {
  padding: 0;
}

.Card_img {
  height: 100px;
}

.Card_overlay {
  display: flex;
  justify-content: center;
}

.Card_title {
  font-family: "Playfair Display", serif;
  font-size: 1.1em;
  color: #f7f7ff;
}

.Card_topic {
  text-align: left;
  padding: 2px 5px;
  text-transform: capitalize;
  font-weight: 500;
  background-color: #bdd5ea;
}

.Card_topic-cooking {
  background-color: #d88c9a;
}

.Card_topic-coding {
  background-color: #99c1b9;
}

.Card_topic-football {
  background-color: #f2d0a9;
}

.Card_intro,
.Card_metadata,
.Card_interactions {
  margin-left: 10px;
  text-align: left;
  font-size: 0.8em;
}

.Card_metadata-icon,
.Card_interactions-icon {
  color: #495867;
}

.Card_metadata-date,
.Card_interactions-starCount {
  float: right;
  margin-right: 10px;
}

.Card_interactions {
  margin-left: 20px;
  margin-right: 20px;
}

.Card_interactions-starIcon {
  color: #e9c46a;
}

.Card_button {
  background-color: #fe5f55;
  border: none;
  border-radius: 30px;
  margin-bottom: 16px;
  font-size: 0.75em;
  font-weight: 600;
}

.Card_button:hover {
  color: #495867;
  background-color: #bdd5ea;
}

.Pages {
  justify-content: center;
}

/* Media Queries  */

@media screen and (min-width: 750px) {
  h1 {
    font-size: 3em;
  }

  .Header > p {
    font-size: 1.1em;
  }

  .LatestNews {
    margin: 30px auto;
    text-align: center;
  }

  .LatestNews_span-red,
  .LatestNews_span-blue {
    font-size: 0.8em;
  }

  .LatestNews_img {
    width: 90vw;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .LatestNews_caption h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
  }

  .LatestNews_caption p {
    font-size: 0.9em;
    margin-bottom: 15px;
  }

  .TopicsGallery > h3 {
    margin: 0px 30px 20px 30px;
    font-size: 1.3em;
    font-weight: 600;
  }

  .TopicsGallery_container > img {
    width: 30vw;
    height: 250px;
    border-radius: 10px;
  }

  .TopicsGallery > ul {
    justify-content: space-around;
  }

  .ArticlesList {
    justify-content: space-around;
  }

  .Sort {
    margin-top: 35px;
    margin-left: 40px;
  }

  .Sort_dropdown {
    font-size: 1em;
    width: 200px;
  }

  .Card {
    width: 28%;
  }

  .Card_img {
    height: 125px;
  }

  .Card_overlay {
    top: 5%;
  }

  .Card_title {
    font-size: 1.2em;
  }

  .Card_topic {
    padding: 2px 10px;
  }

  .Card_intro,
  .Card_metadata {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.9em;
  }

  .Card_interactions {
    margin-left: 40px;
    margin-right: 40px;
  }

  .Card_button {
    font-size: 0.8em;
  }
}
